<div class="user">
    <h1>{{user.name}}</h1>

    <p class="user-attribute">Race: {{user.race}}</p>
    <p class="user-attribute">MMR: {{user.mmr}}</p>
</div>

<h2>Opponents</h2>

<div class="opponents">
    {{#each userOpponents}}
    <a href="/opponents/{{_id}}">
        <p class="opponent">{{name}}</p>
    </a>
    {{/each}}
</div>

<br>

<a href="/opponents/new/{{user._id}}" class="buttons">
    New Opponent
</a>

<br>
<br>

<a href="/users/edit/{{user._id}}" class="buttons">
    Edit User
</a>

<br>
<br>

<a href="/users" class="buttons">
    All Users
</a>

<br>
<br>

<form action="/users/{{user._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete User" />
</form>