<div class="user">
    <h1>{{opponent.name}}</h1>

    <p class="user-attribute">Race: {{opponent.race}}</p>
    <p class="user-attribute">MMR: {{opponent.mmr}}</p>
</div>
<br>
<div class="games">
    {{#each opponentGames}}
    <div class="game">
        <a href="/games/{{_id}}">
            <p>Map: {{map}}</p>
        </a>
        <p>Win/Loss: <span class="winOrLoss">{{win}}</span></p>
        <p>Opponent Build: {{opponentStrat}}</p>
        <p>Your Build: {{userStrat}}</p>
        <br>
    </div>
    {{/each}}
</div>

<br>

<a href="/game/new/{{opponent._id}}" class="buttons">
    Record Game
</a>

<br>
<br>

<a href="/opponents/edit/{{opponent._id}}" class="buttons">
    Edit Opponent
</a>

<br>
<br>

<a href="/users/{{opponent.userId}}" class="buttons">
    Your Page
</a>

<br>
<br>

<form action="/opponents/{{opponent._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Opponent" />
</form>